*.mp4
*.jpg
*.ppm
*.png
*.dat
*pickle*
*~
*.eps
*.pdf
*.pkl
temp/
matlab/
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
*tex.cache*
*perf*
reference/*
*/*/tex.cache/*
*ensemble*
*.csv
*.zip